body {
  font-family: 'Roboto', sans-serif;
}

.top {
    background-color: #1F2937;
    color: white;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 80px;
  }
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  
  header img {
    width: 50px;
    height: auto;
  }
  
  header nav ul {
    display: flex;
    list-style: none;
    padding-bottom: 30px;
    margin: 0;
  }
  
  header nav ul li {
    margin-left: 10px;
  }
  header nav ul li a{
    text-decoration: none;
    color:white;
  }
  header nav ul li:first-child {
    margin-left: 0;
  }
  .about-website{
    display:flex;
  }
  .about-website .main{
    font-size: 48px;
    font-weight: #F9FAF8;
    padding-bottom:0px;
  }
  .about-website p{
    font-size: 24px;
    padding-right: 20px;
    padding-bottom:10px;
  }
  .about-website img{
    width: 40%;
    height: auto;
  }
  button{
    border-radius:5px;
    background-color: #3882F6;
    color:white;
  }

.mid{
  padding-bottom:20px;
}
.mid .info{
    text-align: center;
    padding: 20px;
    font-size: 36px;
    font-weight: #1F2937;
  }

.item img {
    display: inline-block;
    width: 100px; 
    height: 200px; 
    border-style: solid; 
    border-width: 3px;
    border-color: #3882F6; 
    border-radius: 10px;
  } 
.item p{
  width: 106px;
}
.item{
  padding: 0px;
  margin: 0px;
}
.items{
  display: flex;
  justify-content: center;
  gap:50px;
}
.quote{
  background-color: #E5E7EB;
  padding-top:20px;
  padding-bottom:20px;
  padding-left:100px;
  padding-right:100px;
}
.quote .q{
  font-size: 36px;
  color: #1F2937;
  font-style: italic;
}
.quote .person{
  font-weight: bold;
  text-align: right;
}

.sign-up{
  padding-top: 20px;
  padding-bottom: 20px;
}

.sign-up .container{
  margin-left: 100px;
  margin-right: 100px;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: #3882F6;
  border-radius: 5px;
  padding-bottom: 20px;
}
.sign-up .p1{
  font-weight: bold;
}
.sign-up button{
  display: inline-block;
}

.copyright{
  background-color: #1F2937;
    color: white;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}